@use 'sass/color';

@import url('//fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  color: color.$text;
  font-family: 'Open Sans', sans-serif;
  font-size: 87.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.data {
  display: flex;
  flex-direction: column;
}

.input {
  width: 100%;
  height: 100%;
  flex-grow: 1;
}

.input-box {
  align-items: center;
  padding: 10px;
  cursor: pointer;
  border: 1px solid;
  margin-top: 10px;
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 10px;
}

.btn {
  height: 20px;
  margin-top: 5px;
}

.btn-red {
  filter: invert(12%) sepia(74%) saturate(5595%) hue-rotate(357deg)
    brightness(102%) contrast(118%);
}

.btn-enabled {
  filter: invert(57%) sepia(22%) saturate(5638%) hue-rotate(126deg)
    brightness(92%) contrast(102%);
}

.btn-disabled {
  filter: invert(48%) sepia(20%) saturate(11%) hue-rotate(315deg)
    brightness(92%) contrast(89%);
}

.radio-buttons {
  align-items: right;
  padding: 10px;
  border: 1px solid;
  width: 200px;
  margin-left: 0px;
  border-radius: 10px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.input-wrap {
}

.input-wrap input {
  width: 100%;
  height: 60px;
  flex-grow: 1;
}

.column {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
}

.column-center {
  flex-direction: column;
  width: 50px;
}

.column-left {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.column-right {
  flex-direction: column;
  width: 200px;
}

// If you need to style the #app element
// :global(#app) {}
